### Homework on Pandas Basics

---

#### Series Exercises:

1. **Create a Series:**

Create a Series named `fruits` with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.

In [4]:
import pandas as pd
fruits = pd.Series(['apple', 'banana', 'cherry', 'date'], index=['a', 'b', 'c', 'd'])

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['apple', 'banana', 'cherry', 'date'], dtype='object')

Print the Series.

In [5]:
print(fruits)

a     apple
b    banana
c    cherry
d      date
dtype: object

Print the `Index` of the series.

In [6]:
print(pd.Index(fruits))

Index(['apple', 'banana', 'cherry', 'date'], dtype='object')

2. **Accessing Elements:**

Print the second  ("b") element of the `fruits` Series.

In [8]:
print(fruits['b'])

banana

3. **Series Operations:**

Create a Series with the squares of the numbers 1 through 5.

In [11]:
sqrs = pd.Series([1, 4, 9, 16, 25], index = [1, 2, 3, 4, 5])
print(sqrs)

1     1
2     4
3     9
4    16
5    25
dtype: int64

Add 10 to each item in the series (hint: there a *method* to this madness).

In [12]:
sqrs_10 = sqrs + 10
print(sqrs_10)

1    11
2    14
3    19
4    26
5    35
dtype: int64

---

#### DataFrame Exercises:

1. **Create a DataFrame:**

Create a DataFrame named `students` with the columns: 'Name', 'Age', 'Grade'.

Populate it with data for three fictional students.

In [20]:
name = ["Bob", "Billy", "Roweena"]
age = [15, 16, 18]
grade = ['A', 'C', 'B']
students = pd.DataFrame({"Name": name, "Age": age, "Grade": grade})
students

      Name  Age Grade
0      Bob   15     A
1    Billy   16     C
2  Roweena   18     B

2. **Accessing Data:**

Print the `Name` column of the `students` DataFrame.

In [21]:
print(students['Name'])

0        Bob
1      Billy
2    Roweena
Name: Name, dtype: object

4. **DataFrame Operations:**

Add a new column to the `students` DataFrame named `Graduated`, which should be `True` if the student's grade is 'A' and `False` otherwise.

Print the updated DataFrame.

In [36]:
grad = [True, False, False]
students = pd.DataFrame({"Name": name, "Age": age, "Grade": grade, "Graduated": grad})
students

      Name  Age Grade  Graduated
0      Bob   15     A       True
1    Billy   16     C      False
2  Roweena   18     B      False

5. **Maths:**

Calculate and print the average age of the students.

In [37]:
print(students["Age"].mean())

16.333333333333332

6. **Sorting:**

Sort the `students` DataFrame based on the `Age` column in descending order and print it.

In [41]:
students.sort_values("Age")

      Name  Age Grade  Graduated
0      Bob   15     A       True
1    Billy   16     C      False
2  Roweena   18     B      False

7. **Tidy Data**.

Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.

In [66]:
happyness_scores = [10, 15, 15+3, 15-2]
language_scores = [2, 4, 4+3, 4-2]
energy_scores = [5, 9, 9+3, 9-2]
memory_scores = [3, 6, 6+3, 6-2]
participant_id = [1, 2, 3, 4]
tidy_cog_health = pd.DataFrame({"Participant ID": participant_id, "Happyness": happyness_scores, "Language": language_scores, "Energy": energy_scores, "Memory": memory_scores})
tidy_cog_health

   Participant ID  Happyness  Language  Energy  Memory
0               1         10         2       5       3
1               2         15         4       9       6
2               3         18         7      12       9
3               4         13         2       7       4

Compute the mean and standard deviation of all variables.

In [67]:
mean_cog = tidy_cog_health.mean()
std_cog = tidy_cog_health.std()
print("Mean of all variables:")
print(mean_cog)
print("Standard deviation of all variables:")
print(std_cog)

Mean of all variables:
Participant ID     2.50
Happyness         14.00
Language           3.75
Energy             8.25
Memory             5.50
dtype: float64
Standard deviation of all variables:
Participant ID    1.290994
Happyness         3.366502
Language          2.362908
Energy            2.986079
Memory            2.645751
dtype: float64

Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [70]:
mean_happy = tidy_cog_health["Happyness"].mean()
std_happy = tidy_cog_health["Happyness"].std()
ste_happy = tidy_cog_health["Happyness"].sem()
print("Mean Happyness Score:")
print(mean_happy)
print("Standard Deviation of Happyness Score:")
print(std_happy)
print("Standard Error of Happyness Score:")
print(ste_happy)

Mean Happyness Score:
14.0
Standard Deviation of Happyness Score:
3.366501646120693
Standard Error of Happyness Score:
1.6832508230603465