## Automating wranglin' homework ##

1. Write a function to convert the data file "018_HW_2x2_data.csv" from wide to "tidy" long format. Your function can assume that the input data consist of 4 columns (like our rat data), but should handle any number of rows (i.e. number of observations per cell).

In [11]:
def tidy_data(filename) :
    import pandas as pd
    import numpy as np
    data_input = pd.read_csv(filename)
    data_numpy = data_input.to_numpy()
    rows, columns = data_numpy.shape
    total_obsv = rows*columns
    data_reshaped = np.reshape(data_numpy, (total_obsv, 1), order = 'F')
    data_reshaped = np.squeeze(data_reshaped)
    cond_a = pd.Series(['condition_a_level_1', 'condition_a_level_2'])
    cond_a = cond_a.repeat(rows)
    cond_a = pd.concat([cond_a]*2, ignore_index=True) 
    cond_b = pd.Series(['condition_b_level_1', 'condition_b_level_2'])
    cond_b = cond_b.repeat(2*rows)
    cond_b = cond_b.reset_index(drop = True)
    tidy_df =pd.DataFrame({"data": data_reshaped, "condition a": cond_a, "condition b": cond_b})
    return tidy_df

In [12]:
tidy_data('datasets/018_HW_2x2_data.csv')

   data          condition a          condition b
0    10  condition_a_level_1  condition_b_level_1
1    15  condition_a_level_1  condition_b_level_1
2    20  condition_a_level_2  condition_b_level_1
3    25  condition_a_level_2  condition_b_level_1
4    30  condition_a_level_1  condition_b_level_2
5    35  condition_a_level_1  condition_b_level_2
6    40  condition_a_level_2  condition_b_level_2
7    45  condition_a_level_2  condition_b_level_2

2. Test your function on the file "018_HW_2x2_data2.csv".

In [13]:
tidy_data('datasets/018_HW_2x2_data2.csv')

    data          condition a          condition b
0     10  condition_a_level_1  condition_b_level_1
1     15  condition_a_level_1  condition_b_level_1
2     20  condition_a_level_1  condition_b_level_1
3     25  condition_a_level_1  condition_b_level_1
4     30  condition_a_level_1  condition_b_level_1
5     35  condition_a_level_1  condition_b_level_1
6     20  condition_a_level_2  condition_b_level_1
7     25  condition_a_level_2  condition_b_level_1
8     30  condition_a_level_2  condition_b_level_1
9     35  condition_a_level_2  condition_b_level_1
10    40  condition_a_level_2  condition_b_level_1
11    45  condition_a_level_2  condition_b_level_1
12    30  condition_a_level_1  condition_b_level_2
13    35  condition_a_level_1  condition_b_level_2
14    40  condition_a_level_1  condition_b_level_2
15    45  condition_a_level_1  condition_b_level_2
16    50  condition_a_level_1  condition_b_level_2
17    55  condition_a_level_1  condition_b_level_2
18    40  condition_a_level_2  condition_b_level_2
19    45  condition_a_level_2  condition_b_level_2
20    50  condition_a_level_2  condition_b_level_2
21    55  condition_a_level_2  condition_b_level_2
22    60  condition_a_level_2  condition_b_level_2
23    65  condition_a_level_2  condition_b_level_2